body {
  overflow:hidden;
  background: rgb(59,69,79);
  padding: 0;
  margin: 0;    
}


@-webkit-keyframes starpusher {
  0%    { background-position-x: 0; }
  100%  { background-position-x: 100%; }
}

@-webkit-keyframes dizzy {
  0%  { 
    -webkit-transform: rotate(1deg);
    top: 50%;
  left: 40%;
  }
  50%    {
    -webkit-transform: rotate(-2deg);
    top: 46%;
    left: 44%;
  }
  100%  {
    -webkit-transform: rotate(1deg);
    top: 50%;
  left: 40%;
  }
}

.stars, .mountains {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
}
.stars {
  background: url('images/stars.svg') 0 0 no-repeat;
  -webkit-animation: starpusher 20s linear infinite;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover; 
}
.mountains {
  background: url('images/mountains.svg') 0 0 no-repeat;
  -webkit-animation: starpusher 15s linear infinite;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;    
}
.rocket {
  position: fixed;
  width: 40%;
  height: 20%;
  top: 50%;
  left: 40%;
  margin: -10% 0 0 -20%;
  -webkit-animation: dizzy 3s ease-in-out infinite;
  background: url('images/rocket.svg') no-repeat 50% 50%;
  -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;    
}